@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}
.date{
  padding: 0.5em;
}
.vertical-timeline-element-content {
  box-shadow: 0 0.2em 0.25em 0 rgba(0, 0, 0, 0.25),
    0 0.2em 1em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 0.5em 0.5em !important;
  background: black;
}

.date {
  color: white;
  font-weight: bold;
  font-size: large;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: lightgray;
  border: 1px solid gray;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: darkgray;
}

.tab .tab-label {
  font-size: 16px;
}

.tab.active {
  background-color: #4d7c0f;
  color: white;
}

.tab-content {
  margin-top: 20px;
}
#description {
  margin: 1.0em 0 1em 0;
}


@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: white !important;  
    font-style: bold !important;
    font-size: medium;
  }

  .vertical-timeline-element-content
  {
    color: black;
    background-color: black;
    height: 3em;
  }
}


